streamlit
fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
pymysql
httpx
requests
tavily-python
langchain
langchain-core
langchain-community
langchain-groq
groq
pytest
langgraph
langgraph-checkpoint-mysql
